.app {
  display: flex;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f0f4f7;
  height: 122vh;
  border-radius: 10px;
}


.main-content {
  flex: 1;
  padding: 40px;
  background: #f0f4f7;
  border-radius: 10px;
}








